<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <div class="card">
                <!-- <h3 class="card-header text-center">
                    <i class="bi bi-cone-striped"></i>
                    Under Construction
                </h3> -->
                <div class="card-body text-center">
                    <div class="d-flex flex-column align-items-center">
                        <a
                            href="https://github.com/aditya-arcot"
                            class="btn btn-primary m-1"
                            target="_blank"
                        >
                            GitHub Profile
                        </a>
                        <a
                            href="https://reptrack.aarcot.com/"
                            class="btn btn-secondary m-1"
                            target="_blank"
                        >
                            RepTrack
                            <span class="badge text-bg-warning"
                                >in development</span
                            >
                        </a>
                        <a
                            href="https://wealthwatch.aarcot.com/"
                            class="btn btn-danger m-1"
                            target="_blank"
                        >
                            WealthWatch
                            <span class="badge text-bg-secondary">beta</span>
                        </a>
                        <a
                            href="https://poetry-for-neanderthals.aarcot.com/"
                            class="btn btn-warning m-1"
                            target="_blank"
                        >
                            Poetry for Neanderthals
                        </a>
                        <a
                            href="https://yelpcamp.aarcot.com/"
                            class="btn btn-success m-1"
                            target="_blank"
                        >
                            YelpCamp
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
