<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-6">
            <div class="card">
                <h3 class="card-header text-center">
                    <i class="bi bi-cone-striped"></i>
                    Under Construction
                </h3>
                <div class="card-body text-center">
                    <p class="mb-0">
                        In the meantime, check out some of my other work:
                    </p>
                    <div>
                        <a
                            href="https://github.com/aditya-arcot"
                            class="btn btn-primary m-2"
                            target="_blank"
                        >
                            GitHub Profile
                        </a>
                        <a
                            href="https://yelpcamp.aditya-arcot.com/"
                            class="btn btn-success m-2"
                            target="_blank"
                        >
                            YelpCamp
                        </a>
                        <a
                            href="https://wealthwatch.aditya-arcot.com/"
                            class="btn btn-danger m-2"
                            target="_blank"
                        >
                            WealthWatch (In Progress)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
