name: Deploy Application

on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - '.github/workflows/deploy.yml'
            - 'public/**'
            - 'src/**'
            - 'angular.json'
            - 'docker-compose.yml'
            - 'Dockerfile'
            - '*.conf'
            - 'package-lock.json'
            - 'package.json'
            - 'tsconfig.json'

concurrency:
    group: deploy-${{ github.ref_name }}
    cancel-in-progress: true

permissions:
    contents: none

jobs:
    deploy:
        name: Deploy
        runs-on: mbp-13
        environment: prod
        steps:
            - name: unlock keychain
              run: security unlock-keychain -p ${{ secrets.KEYCHAIN_PASSWORD }} login.keychain

            - name: checkout
              uses: actions/checkout@v6

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true

            - name: install, build
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: copy files
              run: |
                  mkdir stage
                  cp -r nginx.conf dist stage/
                  find stage -type f

            - name: create vars
              run: |
                  VERSION=${{ github.run_number }}-${{ github.run_attempt }}-${{ github.run_id }}
                  echo "REPO=$(echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
                  echo "IMAGE_TAG=$(date +%Y-%m-%d).$VERSION" >> $GITHUB_ENV

            - name: build, push docker image
              working-directory: stage
              run: |
                  IMAGE=${{ secrets.DOCKER_REGISTRY }}/${{ env.REPO }}:${{ env.IMAGE_TAG }}
                  docker build -t $IMAGE -f ../Dockerfile .
                  docker push $IMAGE
                  echo "IMAGE=${IMAGE}" >> $GITHUB_ENV

            - name: start docker
              env:
                  REPO: ${{ env.REPO }}
                  IMAGE: ${{ env.IMAGE }}
                  PORT: ${{ secrets.PORT }}
              run: docker compose up -d

            - name: configure, test, reload nginx
              run: |
                  sed -e "s/{PORT}/${{ secrets.PORT }}/g" \
                    portfolio-website.conf > portfolio-website.conf.tmp
                  mv portfolio-website.conf.tmp portfolio-website.conf
                  cp portfolio-website.conf /usr/local/etc/nginx/servers/
                  nginx -t
                  nginx -s reload

            - name: remove cache folder
              if: always()
              run: rm -rf .npm
